@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

body {
  background-color: #fffeef;
  font-family: 'Funnel Display', sans-serif;
}
